@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@500&display=swap');

:root {
    --color1: #022327;
    --color2: #1C3538;
    --white: #EDF4ED;
    --black: #090C0A;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color1);
    color: #E6DBD0;
    font-family: 'Encode Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-height: 100vh;
}

p {
    margin: 0.4rem 0;
}

h2 {
    margin: 10px 0 20px;
    text-align: center;
}

.input-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.range-input-ctn {
    display: flex;
    width: 100%;
    
}

.range-label {
    padding-bottom: 10px;
}

input[type="range"] {
    position: relative;
    width: 100%; 
}

.range-input-ctn::before {
    content: attr(data-min);
    left: 10px;
    margin-right: 15px;
}

.range-input-ctn::after {
    content: attr(data-max);
    right: 10px;
    margin-left: 15px;
}

input[type="checkbox"] {
    margin-right: 0; 
}

.container {
    background-color: var(--color2);
    box-shadow: 0 3px 10px rgba(250, 254, 250, 0.4);
    padding: 1.25rem;
    width: 450px;
    max-width: 100%;
    height: 60%;
}

.result-container {
    background-color: var(--black);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 1.15rem;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 3.2rem;
    width: 100%;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 2.5rem);
}

.result-container .btn {
    font-size: 1.1rem;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 2.5rem;
    width: 2.5rem;
}

.btn {
    border: none;
    color: var(--white);
    background-color: var(--color1);
    cursor: pointer;
    font-size: 1rem;
    padding: 8px 12px;
}

.btn-large {
    display: block;
    width: 100%;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

@media screen and (max-width: 400px) {
    .result-container {
        font-size: 0.9rem;
    }
}